{% extends 'base.html.twig' %}

{% block title %}Hello SectionController!{% endblock %}

{% block body %}
    {% include 'base/header.html.twig' with {header} %}
    <div class="container">
        <p class="fs-4 text-left pt-0 pb-0 text-uppercase">
            КОЛЛЕКЦИЯ
        </p>
        <p class="fs-6 text-left pt-0 pb-0">
            <a href="#" class="text-decoration-none text-dark text-uppercase">
                ГЛАВНАЯ
            </a>
            {% for item in parentSections %}
                /
                <a href="{{ path('app_section', {'id': item.id }) }}" class="text-decoration-none text-dark text-uppercase">
                    {{ item.name }}
                </a>
            {% endfor %}
        </p>
        <div class="wrapper">
            <div class="photo collection-wrapper bg-image hover-zoom">
                <a href="#" class="bg-image hover-zoom">
                    <img
                            class="collection-img"
                            src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3013542069.jpg"
                            alt=""
                    />
                    <div class="phototext">Текст сверху картинки</div>
                </a>
            </div>
            <div class="photo collection-wrapper">
                <a href="#">
                    <img
                            class="collection-img"
                            src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3013542069.jpg"
                            alt=""
                    />
                    <div class="phototext">Текст сверху картинки</div>
                </a>
            </div>
            <div class="photo collection-wrapper">
                <a href="#">
                    <img
                            class="collection-img"
                            src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3013542069.jpg"
                            alt=""
                    />
                    <div class="phototext">Текст сверху картинки</div>
                </a>
            </div>
            <div class="photo collection-wrapper bg-image hover-zoom">
                <a href="#" class="bg-image hover-zoom">
                    <img
                            class="collection-img"
                            src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3013542069.jpg"
                            alt=""
                    />
                    <div class="phototext">Текст сверху картинки</div>
                </a>
            </div>
            <div class="photo collection-wrapper">
                <a href="#">
                    <img
                            class="collection-img"
                            src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3013542069.jpg"
                            alt=""
                    />
                    <div class="phototext">Текст сверху картинки</div>
                </a>
            </div>
            <div class="photo collection-wrapper">
                <a href="#">
                    <img
                            class="collection-img"
                            src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3013542069.jpg"
                            alt=""
                    />
                    <div class="phototext">Текст сверху картинки</div>
                </a>
            </div>
        </div>
    </div>
    {% include 'base/footer.html.twig' %}
{% endblock %}
