* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
}

ul li {
  list-style-type: none;
}

.img-container {
  width: 100%;
  height: 1100px;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img-fluid {
  text-align: center;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.img-of-collections {
  position: relative;
  z-index: 1;
  display: block;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-position: center center;
  background-size: cover;
}
.img-fluid:before {
  display: block;
  background-color: rgb(0, 0, 0);
  content: '';
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.img-fluid:after {
  color: white;
  content: attr(alt);
  display: block;
  font-size: 25px;
  opacity: 0;
  padding: 0 3%;
  position: absolute;
  text-transform: none;
  top: 50%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale(0) translateY(-50%);
  transform: scale(0) translateY(-50%);
  width: 100%;
  z-index: 3;
}

.img-fluid img {
  border: none;
  display: block;
  z-index: 1;
}

.header-nav-site {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.header-nav-site:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: black; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.7s; /* Время эффекта */
}

.header-nav-site:hover:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: black; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.7s; /* Время эффекта */
}

.img-fluid:after {
  -webkit-transition: all 600ms ease-in-out;
}

.img-fluid:hover:before {
  opacity: 0.6;
}

.img-fluid:hover:after {
  opacity: 1;
  -webkit-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}

.collection-img {
  height: 275px;
  width: 275px;
}

.wrapper {
  letter-spacing: -0.36em;
}
.wrapper > div {
  display: inline-table;
  width: 25%;
  letter-spacing: normal;
  margin-bottom: 50px;
}

.collection-wrapper {
  overflow: hidden;
  margin-left: 50px;
}

.collection-wrapper > a .collection-img {
  transition: 0.5s all ease-in-out;
  height: 375px;
  width: 375px;
  object-fit: cover; /* Do not scale the image */
}

.collection-wrapper > a .collection-img:hover {
  transform: scale(1.2);
}

.photo {
  position: relative;
}
.phototext {
  position: absolute;
  top: 70%;
  text-transform: uppercase;
  color: white;
  background: #00000094;
  padding: 10px;
  text-align: center;
}

.img-product-main {
  width: 750px;
  height: 750px;
}
.img-product-side {
  width: 375px;
  height: 375px;
}

.btn-size {
  width: 40px;
  height: 40px;
  font-size: 8px;
  font-weight: bold;
}
.bth-check-product {
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
}
.color-text
{
  width: 60%;
}

.bag-round-button{
  margin: 0;
  width: 64px;
  height: 64px;
  font-size: 36px;
  position: fixed;
  top: 90%;
  left: 92%;
  background-color: white;
  z-index: 1000;
  transition: 300ms ease-in!important;
}
.bag-round-button-counter{
  margin: 0;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 90%;
  left: calc(92% + 48px);
  background-color: #404040!important;;
  z-index: 1001;
}

.bag-round-button:hover {
    background-color: #404040!important;;
}

.bag-round-button:hover .bi-bag {
  color: white;
}

.btg-bag {
  width: 300px;
  transition-duration: 0.2s;
}

.nav-button:hover {
  --bs-text-opacity: 0.7;
}

.img-of-product {
  margin-top: 10px;
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-position: center center;
  background-size: contain;
}

.btg-bag:hover {
  background-color: #f18c07;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion p,
.panel p {
  font-size: 12px;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.photo-text {
  position: absolute;
  text-transform: uppercase;
  color: white;
  background: #00000094;
  padding: 10px;
  text-align: center;
  z-index: 911;
}

.photo-text.name {
  top: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  display: block;
}

.photo-text.price {
  top: calc(70% + 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  display: block;
}

.home-collection-img {
  position: relative;
  z-index: 910;
  display: block;
  padding-top: 135%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.container-fluid {
  padding: 0;
}

a {
  cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
  text-decoration: none;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #c4c3ca;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  content: url('https://i.postimg.cc/KzmCPZmX/up-left-arrow-3.png');
  background-color: grey;
  z-index: 20;
  top: -5px;
  left: -5px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: white;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.form-style {
  padding: 13px 20px 13px 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.registration_form_birthdate_monthgroup {
  background: rgba(0, 0, 0, 0.3);
}
.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.notactive {
  display: none !important;
}
